.principal{
    .titulo{
        width: 76.5%;
        margin: 0 auto;

        h1{
            @include Montserrat-bold(25px,$text_color,33px);
            .span-gifos{
                color: $text_color_secondary;
            }
        }
        
    }

    .contenido{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;

        @include modooscuro;
        @include GifItem(156px,120px,240px,190px,260px,200px);
    }
}

@media (min-width: 768px){
    .principal{

        .titulo{
            width: 580px;
            margin-top: 76px;   

            h1{
                @include Montserrat-bold(35px,$text_color,50px);
            }
            
        }
    }
}