.principal{

    .titulo{
        width: 76.5%;
        margin: 0 auto;

        h1{
            @include Montserrat-bold(25px,$text_color,33px);

            .span-gifos{
                color: $text_color_secondary;
            }
        }
        
    }

    .busqueda{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        .bus-img{
            width: calc(198px + 14%);
            img{
                width: 100%;
            }
        }   
        .bus-barra{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: calc(259px + 25% ); 
            height: 50px;
            border: 1px solid $color;
            border-radius: 7vw;

            .busqueda{
                width: 65.7%;
                height: 45%;
                margin: 0;
                border: none;
                @include Roboto-regular(16px,black,20px);
                text-align: left;
            }
            .icon{
                color: $color;
                font-size: 20px;
                margin-left: 7.3%;
            }
        }
    }

    .trending{
        width: 60%;
        margin: 3.7vh auto 0;

        .trend-titulo{
            @include Montserrat-bold(16px,$text_color,25px);
        }
        .trend-text{
            @include Montserrat-medium(14px,$text_color,25px);
        }
    }
}

@media (min-width: 768px){
    .principal{

        .titulo{
            width: 580px;
            margin-top: 76px;   

            h1{
                @include Montserrat-bold(35px,$text_color,50px);
            }
            
        }

        .trending{
            width: 60%;
            margin: 73px auto 0;
    
            .trend-titulo{
                @include Montserrat-bold(18px,$text_color,25px);
            }
            .trend-text{
                @include Montserrat-medium(16px,$text_color,25px);
            }
        }
    }
}